/*.container-fluid {
  background-color: hsl(221, 61%, 60%);
  width: 70vw;
}*/

#submit {
  width: 45vw;
  /*height: 45vw;
  background-color: hsl(221, 61%, 90%);
  margin: 3vh auto;*/
}

#map {
  width: 66vw;
  height: 66vw;
  background-color: hsl(221, 61%, 90%);
  margin: 3vh auto;
}

/*.center-block {
  display: flex;
  align-items: center;
  flex-direction: column;
}*/
